# OS
.DS_Store
Thumbs.db
*.swp
*~

# Editor
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Deps
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
.next/
out/

# Env
.env
.env.local
.env*.local

# Vercel
.vercel
